h2 {
    font-size: 50px;
    color: #000000;
    font-weight: 800;
    font-family: Impact;
}
body {
    background: #fffcf9;
}
td {
    border-top-width: 3px;
    border-top-color: #ffe0c1;
    background: #fdf5e6;
}
.message {
    font-size: 20px;
    font-weight: 600;
}
.button {
    color: #fa8072;
    background: #fffff0;
}
.del{
    color: #a52a2a;
    background: #ffc0cb;
}
.container1{
    width: 30%;
    float: right;
}
.container2{
    width: 70%;
    float: left;
}
.drag-and-drop {
    cursor: move;
    position: absolute;
    z-index: 1000;
}
.drag {
    z-index: 1001;
}
.graph-area {
    background: white;
}
#red-box{
  position: relative;
  top: 0;
  height: 50px;
  width: 50px;
  background-color:#f48fb1;
}
#blue-box{
  position: relative;
  top: 0;
  height: 50px;
  width: 50px;
  background-color:#64b5f6;
}
#yellow-box{
  position: relative;
  top: 0;
  height: 50px;
  width: 50px;
  background-color:#ffe082;
}
